@using KmathProject.Models
@model SignInModel;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login-KMath~บ้านคณิตศาสตร์</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KmathProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="mx-auto">
        <img src="~/img/" alt="logo-kmath" width="350px">
    </div>
    <div class="comic-login-card mx-auto">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <form class="card-body" method="post" asp-action="SignIn" asp-controller="Account">
            <div class="row">
                <input type="text" placeholder="Username" asp-for="Username">
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
            <div class="row">
                <input type="password" placeholder="Password" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <div class="card-footer">
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
    </div>
</body>
</html>
